nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation', ng-controller="navbarCtrl")
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(href="/")
                img.navbar-brand(src="/images/timelord_logo.png")
        .collapse.navbar-collapse
            ul.nav.navbar-nav
                li(data-match-route="/")
                    a(href='/') HOME
                li(data-match-route="/about")
                    a(href='/about') ABOUT
            ul.nav.navbar-nav.navbar-right.padding-20-right(ng-if="!currentUser")
                li(data-match-route="/login")
                    a(href="/login") LOGIN
                li(data-match-route="/register")
                    a(href="/register") REGISTER
            ul.nav.navbar-nav.navbar-right.padding-20-right(ng-if="currentUser")
                li.navbar-text(ng-bind="currentUser.email")
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                        span.glyphicon.glyphicon-user
                        span.caret
                    ul.dropdown-menu(role='menu')
                        li
                            a(href='#') PROFILE
                        li
                            a(href='#') Another action
                        li
                            a(href='#') Something else here
                        li.divider
                        li
                            a(href='#') Logout