body
  text-rendering: optimizelegibility
  padding-top : 70px
  background: rgb(34,34,34); /* for IE */
  background: rgba(34,34,34,0.75);

h2
  text-align : center
  color: #ffffff
  font-family : bebas

.gradient-dark
  padding: 20px;
  background: rgb(34,34,34); /* for IE */
  background: rgba(34,34,34,0.75);

.navbar-brand
  padding : 12px

.navbar
  background : url(http://beta.pixio.com/wp-content/uploads/2014/09/Global-Sidebar2.png)
  font-family : roboBold

.padding-20-right
  padding-right : 20px

.margin-right-10
  margin-right : 10px

.form-control
  border : 1px solid #2773b2

button
  color: #ffffff

label
  color: #ffffff

@font-face
  font-family: roboReg
  src: url(../fonts/Roboto-Regular.ttf)

@font-face
  font-family: roboLight
  src: url(../fonts/Roboto-Light.ttf)

@font-face
  font-family: roboBold
  src: url(../fonts/Roboto-Bold.ttf)

@font-face
  font-family : bebas
  src: url(../fonts/BebasNeue.otf)