/*** Colors ***/
pixioLightGrey = #E1EAE9
pixioDarkGrey = #808282
pixioBlue = #36A6DF
gradientDarkBg = rgba(34,34,34,0.75)
gradientDarkerBg = rgba(43, 43, 43, 0.75)

body
  text-rendering: optimizelegibility
  padding-top : 70px

h2
  text-align : center
  color: #ffffff
  font-family : bebas

.gradient-dark
  padding: 20px;
  background: gradientDarkBg

.navbar-brand
  padding : 12px

.navbar
  background : url(http://beta.pixio.com/wp-content/uploads/2014/09/Global-Sidebar2.png)
  font-family : roboBold

.padding-20-right
  padding-right : 20px

.margin-right-10
  margin-right : 10px

.form-control
  border : 1px solid pixioBlue

input.form-control
  color : #ffffff
  font-family : roboThin
  background-color : gradientDarkBg

button
  font-family : roboLight
  color: #ffffff

label
  font-family : roboLight
  color: #ffffff

/**** Fonts ****/
@font-face
  font-family: roboReg
  src: url(../fonts/Roboto-Regular.ttf)
@font-face
  font-family: roboLight
  src: url(../fonts/Roboto-Light.ttf)
@font-face
  font-family: roboThin
  src: url(../fonts/Roboto-Thin.ttf)
@font-face
  font-family: roboBold
  src: url(../fonts/Roboto-Bold.ttf)
@font-face
  font-family : bebas
  src: url(../fonts/BebasNeue.otf)